<app-navbar></app-navbar>

<br>
<div class="container">
  <div class="card bg-light">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img *ngIf="existingProduct; else sliderTemplate" src="http://localhost:8080/image/{{existingProduct.images[0]}}" alt="Product image" style="width:100%;">
            </div>
            <ng-template #sliderTemplate>
              <img src="http://localhost:8080/image/0" alt="Product image" style="width:100%;">
            </ng-template>
          </div>
      
          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

    <article class="card-body mx-auto" style="max-width: 400px;">

      <h4 class="card-title mt-3 text-center">Product</h4>

      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

        <div class="alert alert-danger validation" *ngIf="errorMsg">
          {{errorMsg}}
        </div>

        <div class="form-group input-group">
          <input class="form-control" placeholder="Name" formControlName="name" type="text">
        </div>
        <div class="alert alert-danger validation" *ngIf="productForm.controls['name'].hasError('minlength')">
          The name should be longer <br> than 3 characters
        </div>
        <div class="alert alert-danger validation" *ngIf="productForm.controls['name'].hasError('required')">
          The name is required
        </div>

        <div class="form-group input-group">
          <textarea id="description" class="form-control" placeholder="Description" formControlName="description"
            data-length="120">
            </textarea>
        </div>
        <div class="alert alert-danger validation" *ngIf="productForm.controls['description'].hasError('minlength')">
          The description should be longer <br> than 3 characters
        </div>
        <div class="alert alert-danger validation" *ngIf="productForm.controls['description'].hasError('required')">
          The description is required
        </div>

        <div class="form-group" >
          <label>Type</label>
          <select id="type" name="type" class="form-control" formControlName="type" [(ngModel)]="type" [attr.disabled]="Id > 0 ? true : null" > 
            <option *ngFor="let type of types" [value]="type.value">
              {{type.viewValue}}
            </option>
          </select>
        </div>

        <div class="form-group">
            <label>Categories</label>
            <select id="categories" name="categories" multiple class="form-control" formControlName="categories" [attr.disabled]="Id > 0 ? true : null" >
              <option *ngFor="let category of categories" [value]="category.value">
                {{category.viewValue}}
              </option>
            </select>
        </div>
        
        <div class="form-group input-group">
            <label>End Date </label>
            <input class="form-control" placeholder="yyyy-MM-dd HH:mm" [attr.disabled]="Id > 0 ? true : null" formControlName="endDate" type="datetime">
          </div>
          <div class="alert alert-danger validation" *ngIf="productForm.controls['endDate'].hasError('required')">
            The end date is required
          </div>

          <div class="form-group input-group" *ngIf="this.showPrice && productForm.controls['type'].value == 0">
              <label>Price</label>
              <input class="form-control" placeholder="Price" formControlName="price" type="number" [attr.disabled]="Id > 0 ? true : null">
          </div>

        <div class="form-group" >
          <button type="submit" id="productSubmit" [disabled]="!productForm.valid" class="btn btn-dark btn-block">
            Save
          </button>
        </div>

      </form>
    </article>

  </div>
</div>