<app-navbar></app-navbar>

<button [routerLink]="'/product/0'" type="button" class="btn btn-primary red" style="float:right">new product</button>
<!--
<ul>
  <li *ngFor="let product of products">
    <a [routerLink]="'/product/'+product.id">{{product.name}}</a>
  </li>
</ul>
-->



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y-sm">
  <div class="container">

    <div class="card">
      <div class="card-body" style="max-height:100%;">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <div class="form-group input-group">
            <label>Search by name</label>
            <input class="form-control" placeholder="Product name" formControlName="productName">
          </div>
          <hr>
          <label style="color:#a0c4ff !important;">
              Filter
            </label>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Categories</label>
                <select id="categories" style="max-height:100%;" name="categories" multiple class="form-control"
                  formControlName="categories">
                  <option *ngFor="let category of categories" [value]="category.value">
                    {{category.viewValue}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <label>Own products</label>
                  <select id="own" name="own" style="max-height:100%;" class="form-control" formControlName="own"
                    [(ngModel)]="own">
                    <option *ngFor="let own of owns" [value]="own.value">
                      {{own.viewValue}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="form-group">
                    <label>Active products</label>
                    <select id="active" name="active" style="max-height:100%;" class="form-control" formControlName="active"
                      [(ngModel)]="active">
                      <option *ngFor="let active of actives" [value]="active.value">
                        {{active.viewValue}}
                      </option>
                    </select>
                  </div>
                </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Type</label>
                <select id="type" name="type" style="max-height:100%;" class="form-control" formControlName="type"
                  [(ngModel)]="type">
                  <option *ngFor="let type of types" [value]="type.value">
                    {{type.viewValue}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <hr *ngIf="searchForm.controls['type'].value != 0">
          <label style="color:#a0c4ff !important;" *ngIf="searchForm.controls['type'].value != 0">
              Search by price
            </label>
          <div class="row" *ngIf="searchForm.controls['type'].value != 0">
                  <div class="col-md-2" style="margin-left:-15px !important;">
                      <select id="priceOperation" name="priceOperation" class="form-control" style=" color:darkorange; font-family: 'Times New Roman', Times, serif; font-size:20px;" formControlName="priceOperation"
                      [(ngModel)]="priceOperation">
                      <option *ngFor="let priceOperation of priceOperations" [value]="priceOperation.value">
                        {{priceOperation.viewValue}}
                      </option>
                    </select>
                    </div>
                    <div class="col-md-10">
                        <input class="form-control" min=0  placeholder="Price" formControlName="price" type="number">
                      </div>
          </div>
          <hr>
          <label style="color:#a0c4ff !important;">
            Special search with attributes
          </label>
          <div class="row">
              <div class="col-md-2" style="margin-right:15px !important;">
                  <div class="form-group input-group">
                      <div class="form-group">
                          <label>Color</label>
                          <select id="color" name="color" class="form-control" formControlName="color"
                            [(ngModel)]="color">
                            <option *ngFor="let color of colors" [value]="color.value">
                              {{color.viewValue}}
                            </option>
                          </select>
                        </div>
                  </div>
              </div>
              <div class="col-md-3" style="margin-right:15px !important;">
                    <div class="form-group input-group">
                        <label>Height</label>
                        <br>
                        <div class="row">
                            <div class="col-md-6" style="margin-left:-15px !important;">
                                <select id="heightOperation" name="heightOperation" class="form-control" style=" color:darkorange; font-family: 'Times New Roman', Times, serif; font-size:20px;" formControlName="heightOperation"
                                [(ngModel)]="heightOperation">
                                <option *ngFor="let heightOperation of heightOperations" [value]="heightOperation.value">
                                  {{heightOperation.viewValue}}
                                </option>
                              </select>
                              </div>
                              <div class="col-md-6">
                                  <input class="form-control" min=0  placeholder="Height" formControlName="heightValue" type="number">
                                </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-right:15px !important;">
                    <div class="form-group input-group">
                        <label>Width</label>
                        <br>
                        <div class="row">
                            <div class="col-md-6" style="margin-left:-15px !important;">
                              <select id="widthOperation" name="widthOperation" style="color:darkorange; font-family: 'Times New Roman', Times, serif; font-size:20px;" class="form-control" formControlName="widthOperation"
                              [(ngModel)]="widthOperation">
                              <option *ngFor="let widthOperation of widthOperations" [value]="widthOperation.value">
                                {{widthOperation.viewValue}}
                              </option>
                            </select>
                          </div>
                          <div class="col-md-6">
                              <input class="form-control" min=0 placeholder="Width" formControlName="widthValue" type="number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3" style="margin-right:15px !important;">
                    <div class="form-group input-group">
                        <label>Weight</label>
                        <br>
                        <div class="row">
                            <div class="col-md-6" style="margin-left:-15px !important;">
                              <select id="weightOperation" name="weightOperation" class="form-control"  style=" color:darkorange; font-family: 'Times New Roman', Times, serif; font-size:20px;" formControlName="weightOperation"
                              [(ngModel)]="weightOperation">
                              <option *ngFor="let weightOperation of weightOperations" [value]="weightOperation.value">
                                {{weightOperation.viewValue}}
                              </option>
                            </select>
                          </div>
                          <div class="col-md-6">
                              <input class="form-control" placeholder="Weight" step="0.01" min=0 formControlName="weightValue" type="number">
                            </div>
                        </div>
                    </div>
                </div>
          </div>
          <hr style="margin-top:-30px !important;">
          <button type="submit" class="btn btn-primary green">Search</button>
        </form>
      </div> <!-- card-body .// -->
    </div> <!-- card.// -->
    <label> Total number of products: {{this.numberOfProducts}}</label>
    <div class="row-sm">
      <div class="col-md-3 col-sm-6" *ngFor="let product of products">
        <figure class="card card-product">
          <div class="img-wrap"> <img style="max-width:100%;max-height:100%;"
              src="http://localhost:8080/image/{{product.images[0]}}"></div>
          <figcaption class="info-wrap">
            <a class="title" [routerLink]="'/product/'+product.id">{{product.name}}</a>
            <div class="price-wrap">
              <span class="price-new" *ngIf="product.price;else biddingTemplate">{{product.price | currency:" "}}
                Ft</span>
              <ng-template #biddingTemplate>
                <span class="price-new">Bidding</span>
              </ng-template>
            </div> <!-- price-wrap.// -->
          </figcaption>
        </figure> <!-- card // -->
      </div> <!-- col // -->
    </div> <!-- row.// -->


  </div><!-- container // -->
</section>
<!-- ========================= SECTION CONTENT .END// ========================= -->